@media  screen and (max-width:900px) {
    body{
        max-height: 100%;
    }
}
@media  screen and (max-width:500px) {
    body{
        max-height: 100%;
    }
    .section .img-box{
        width: 24em;
    }
    .section .detail_box{
        width: 360px;
        margin: auto;
    }

}